<div class="iq-sidebar sidebar-default">
    <div class="iq-sidebar-logo d-flex align-items-center justify-content-between ">
        <a routerLink="/projet" class="header-logo">
            <img src="assets/images/GDT_LOGO.svg" alt="logo">
            <h3 class="logo-title light-logo">GDT</h3>
        </a>
        <div class="iq-menu-bt-sidebar">
            <i class="bi bi-text-indent-right font-size-32 bold-icon wrapper-menu"></i>
        </div>
    </div>
    <div class="data-scrollbar" data-scroll="1">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="">
                    <a routerLink="/dash" class="svg-icon">
                        <i class="mb-2 bi bi-house-door font-size-28"></i>
                        <span class="ml-2">Dashboards</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/projet" class="svg-icon">
                        <i class="mb-2 bi bi-boxes font-size-28"></i>
                        <span class="ml-2">Les Projets</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/tache" class="svg-icon">
                        <i class="mb-2 bi bi-layout-text-sidebar-reverse font-size-24"></i>
                        <span class="ml-2">Les Tâches</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/equipe" class="svg-icon">
                        <i class="mb-2 bi bi-people font-size-28"></i>
                        <span class="ml-2">Les Équipes</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
